:root {
  --bg: rgba(20, 20, 21, 1);
  --bg-light: rgba(24, 25, 27, 1);
  --bg-lighter: rgba(26, 28, 30, 1);
  --bg-lightest: rgba(32, 34, 39, 1);

  --primary: rgb(117, 101, 17);
  --primary-light: rgb(168, 158, 107);

  --tx-normal: rgba(254, 254, 254, 1);
  --tx-semi: rgba(162, 162, 162, 1);
  --tx-dimmed: rgba(107, 107, 107, 1);

  --accent-green: rgba(36, 141, 36, 1);
  --accent-red: rgba(168, 52, 65, 0.4);

  --dark: rgba(19, 19, 19, 1);
}
